.account-container {
  margin: 20px 20px;
}

.top-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 80vw;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}

.search-input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 4rem;
}

.search-dropdown {
  width: 78%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 4rem;
}
.search-bar button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 4rem;
}

.search-result-item :hover {
  background-color: #262626;
  cursor: pointer;
  color: white;
}

.video-image {
  width: 50px;
  height: 50px;
}

.video-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
  object-position: center; /* Centers the image */
}

.user-image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-top: 20px;
  background-color: black;
}

.middle-section {
  width: calc(100vw - 40px); /* Subtract the container margins */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px; /* Adjusted to account for fixed top section */
}

.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-friend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.friends-list div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: black;
}

.recommended-aritsts-list div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: black;
}

.playlists {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 30rem;
  border-radius: 20px;
  background: black;
  position: relative;
  overflow: auto;
  transition: 0.5s transform ease;
}

.playlist:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.playlist-display-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playlist-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.music-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #f0eced;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}
